@import "./MuiTheme.scss";
@import "./AppTheme.scss";

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout      : none;
}

html,
body {
  font                  : 16px "Montserrat", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  word-wrap             : break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
dt,
ul,
ol,
li,
body,
pre,
u {
  margin : 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
em,
b,
u {
  font-size      : inherit;
  font-style     : inherit;
  font-weight    : inherit;
  text-decoration: none;
}

ul,
ol,
dl,
dd,
dt {
  list-style: none;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  padding    : 0;
  margin     : 0;
  outline    : 0;
  resize     : none;
  border     : 0;
  background : transparent;
}

input::placeholder,
button::placeholder,
textarea::placeholder {
  color: #c2c2c2;
}

input[type] {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

// input[type="number"] {
//   appearance: textfield;
// }

a {
  color          : inherit;
  text-decoration: none;
}

img,
canvas,
svg {
  vertical-align: top;
}

.dapp-icon {
  width   : 1em;
  height  : 1em;
  fill    : currentColor;
  overflow: hidden;
}

@keyframes LoadingAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}